*{
	margin: 0;
	padding: 0;
	}
header{
	padding: 15px;
}
body {
	background-color: #000000;
  text-align: center;
}

h1{
	font-family: 'Frijole', cursive;
	font-size: 150px;
	color: white;
}
p{
	font-family: 'David Libre', serif;
	color: white;
	font-size: 34px;
}
.inscripcion{
	padding-bottom: 20px;
}
.seguir{
	padding-top: 10px;
	padding-bottom: 50px;
}
footer{
	  font-family: 'Quicksand', monospace;
		color: white;
		background-color: #003333;
		padding: 20px;
}

/* Responsive*/
@media(max-width: 600px){
	h1{
		font-size: 110px;
	}
	p{
		font-size: 20px;
	}
	img{
		width: 300px;
	}
}
@media(max-width: 480px){
	h1{
		font-size: 90px;
	}
	p{
		font-size: 20px;
	}
	img{
		width: 270px;
	}
}
